# Ignore build artifacts and deps
node_modules
build
dist
coverage

# Public assets
public/*.ico
public/*.png
public/*.svg
public/assets/

# Env and logs
.env
*.log

# Locks
package-lock.json
pnpm-lock.yaml
yarn.lock
